DEP|DeltaStream
ENV|DAASDATA_HDBLOGDIR_TEST_FRAMEWORK|dir|DELTA_DATA/DaaSData/hdblog/testingFrameworkResultsHDB|0
ENV|PROCESSINGDAEMON_WATCH|dir|DELTA_DATA/fileStore/processingConfig|0
ENV|PROCESSINGDAEMON_WATCH_PROCESSED|dir|DELTA_DATA/fileStore/processingConfig/processed|0
ENV|DATACOPY_ZIPDIR|DIR|DELTA_DATA/DaaSData/tmp/dataCopyZipDir|0
ENV|TRTH_PROCESSING_PORTSTART|string|4750|1
ENV|TRTH_PROCESSING_STACKLIMIT|string|10|1
ENV|RFA_APP_ID_A|string|100|1
ENV|RFA_CONSUMER_NAME_A|string|FDConsumer|1
ENV|RFA_SERVICE_NAME_A|string|ELEKTRON_EDGE|1
ENV|RFA_USER_NAME_A|string|delta|1
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_EQ|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/EQ|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_FX|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FX|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_FI|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FI|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_FUT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FUT|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_IDX|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/IDX|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_EQL2|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/EQL2|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_FUTL2|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FUTL2|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_LISOPT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/LISOPT|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_MN|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/MN|0
ENV|DAASDATA_HDBLOGDIR_EMEA_TR_TRANSACTIONDATA|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/TRANSACTIONDATA|0
ENV|DAASDATA_HDBLOGDIR_GLOBAL_MONITORING|dir|DELTA_DATA/DaaSData/hdb/monitoring|0
ENV|DAASDATA_HDBLOGDIR_SECMASTER|dir|DELTA_DATA/DaaSData/hdblog/SECMASTER|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_EQ_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/EQSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FI_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FISTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FUT_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FUTSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FX_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FXSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_IDX_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/IDXSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_LISOPT_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/LISOPTSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_MN_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/MNSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_EQ_INSERT_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/EQSTATS/insertTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FI_INSERT_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FISTATS/insertTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FUT_INSERT_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FUTSTATS/insertTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FX_INSERT_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FXSTATS/insertTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_IDX_INSERT_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/IDXSTATS/insertTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_LISOPT_INSERT_DEFAULT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/LISOPTSTATS/insertTime/default|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_MN_INSERT_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/MNSTATS/insertTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_EQ_INSERT_DEFAULT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/EQSTATS/insertTime/default|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FI_INSERT_DEFAULT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FISTATS/insertTime/default|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FUT_INSERT_DEFAULT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FUTSTATS/insertTime/default|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_FX_INSERT_DEFAULT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/FXSTATS/insertTime/default|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_IDX_INSERT_DEFAULT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/IDXSTATS/insertTime/default|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_LISOPT_INSERT_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/LISOPTSTATS/insertTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_MN_INSERT_DEFAULT|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/MNSTATS/insertTime/default|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_TR_marketData_EQ_EXCH_NOFILTERCANCOR|dir|DELTA_DATA/DaaSData/hdblog/EMEA/TR/EQSTATS/exchangeTime/nofilterCanCor|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_DSS_marketData_EQ_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/DSS/EQSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_HDBLOGDIR_EMEA_stats_DSS_marketData_FUT_EXCH_NOFILTER|dir|DELTA_DATA/DaaSData/hdblog/EMEA/DSS/FUTSTATS/exchangeTime/nofilter|0
ENV|DAASDATA_TPLOGDIR|dir|DELTA_DATA/DaaSData/tplog|0
ENV|DAASDATA_TMPDIR|dir|DELTA_DATA/DaaSData/tmp|0
ENV|DAASDATA_INTRADIR_EMEA_TR_EQ|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/EQ|0
ENV|DAASDATA_INTRADIR_EMEA_TR_FX|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/FX|0
ENV|DAASDATA_INTRADIR_EMEA_TR_FI|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/FI|0
ENV|DAASDATA_INTRADIR_EMEA_TR_FUT|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/FUT|0
ENV|DAASDATA_INTRADIR_EMEA_TR_IDX|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/IDX|0
ENV|DAASDATA_INTRADIR_EMEA_TR_EQL2|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/EQL2|0
ENV|DAASDATA_INTRADIR_EMEA_TR_FUTL2|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/FUTL2|0
ENV|DAASDATA_INTRADIR_EMEA_TR_LISOPT|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/LISOPT|0
ENV|DAASDATA_INTRADIR_EMEA_TR_MN|dir|DELTA_DATA/DaaSData/intraday/EMEA/TR/MN|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_EQ|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/EQ|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_FI|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/FI|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_FX|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/FX|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_FUT|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/FUT|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_IDX|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/IDX|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_LISOPT|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/LISOPT|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_MN|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/MN|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_EQL2|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/EQL2|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_MARKETDATA_FUTL2|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/MARKETDATA/FUTL2|0
ENV|DAASDATA_PERSISTDIR_EMEA_TR_TRANSACTIONDATA|dir|DELTA_DATA/DaaSData/persist/EMEA/TR/TRANSACTIONDATA|0
ENV|DAASDATA_PERSISTDIR_GLOBAL_MONITORING|dir|DELTA_DATA/DaaSData/persist/monitoring|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_EQ|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/EQ|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_FI|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/FI|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_FX|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/FX|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_FUT|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/FUT|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_IDX|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/IDX|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_LISOPT|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/LISOPT|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_MN|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/MN|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_EQL2|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/EQL2|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_MARKETDATA_FUTL2|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/MARKETDATA/FUTL2|0
ENV|DAASDATA_SYMBACKUPDIR_EMEA_TR_TRANSACTIONDATA|dir|DELTA_DATA/DaaSData/backup/EMEA/TR/TRANSACTIONDATA|0
ENV|DAASDATA_SYMBACKUPDIR_GLOBAL_MONITORING|dir|DELTA_DATA/DaaSData/backup/monitoring|0
ENV|DAASDATA_FWDIR_SECMASTER|dir|DELTA_DATA/fileStore/secmaster|0
ENV|DAASDATA_FWDIR_SECMASTER_DSP|dir|DELTA_DATA/fileStore/secmaster/dsp|0
ENV|DAASDATA_FWDIR_SECMASTER_CUST|dir|DELTA_DATA/fileStore/secmaster/cust|0
ENV|DAASDATA_FWDIR_ORDEREXEC|dir|DELTA_DATA/fileStore/transactionData|0
ENV|DAASDATA_FWDIR_ORDEREXEC_COMPLETE|dir|DELTA_DATA/fileStore/transactionData/complete|0
ENV|DAASDATA_FWDIR_ORDEREXEC_REJECTED|dir|DELTA_DATA/fileStore/transactionData/rejected|0
ENV|DAASDATA_FWDIR_DSSBARS|dir|DELTA_DATA/fileStore/stats|0
ENV|RFA_APP_ID_A|string|100|1
ENV|TZ|string|UTC|1
ENV|RFA_CONSUMER_NAME_A|string|FDConsumer|1
ENV|RFA_SERVICE_NAME_A|string|ELEKTRON_EDGE|1
ENV|RFA_USER_NAME_A|string|delta|1
ENV|RFA_PORT_A|string|\"14002\"|1
ENV|RFA_HOST_A|string|\"192.168.107.25\"|1
ENV|RUNCLUSTER_FLAG|string|0|1
ENV|CLUSTER_REGION|string|emea|1
ENV|CLUSTER_VENDOR|string|tr|1
ENV|CLUSTER_ASSET|string|fut|1
ENV|CLUSTER_SIZE|string|3|1
ENV|DAASDATA_HDBLOGDIR_TEST_FRAMEWORK|dir|DELTA_DATA/DaaSData/hdblog/testingFrameworkResultsHDB|0
ENV|PROCESSINGDAEMON_WATCH|dir|DELTA_DATA/fileStore/processingConfig|0
ENV|PROCESSINGDAEMON_WATCH_PROCESSED|dir|DELTA_DATA/fileStore/processingConfig/processed|0
ENV|PROCESSINGDAEMON_WATCH_FAILED|dir|DELTA_DATA/fileStore/processingConfig/failed|0
ENV|DATACOPY_ZIPDIR|DIR|DELTA_DATA/DaaSData/tmp/dataCopyZipDir|0
ENV|TRTH_PROCESSING_PORTSTART|string|4750|1
ENV|TRTH_PROCESSING_STACKLIMIT|string|10|1
ENV|DAAS_MERGE_HDBGARBAGE|dir|DELTA_DATA/DaaSData/tmp/hdbGarbage|0
ENV|REPORTSETTINGS_CONFIG_DROP|dir|DELTA_DATA/fileStore/processingConfig/reportSettings|0
ENV|DAAS_MERGEDIR|dir|DELTA_DATA/fileStore/hdbMerge|0
ENV|DAAS_MERGED_PREHDB|dir|DELTA_DATA/DaaSData/mergeHdblog|0
ENV|DATACOPY_HDBDROPS|dir|DELTA_DATA/fileStore/hdbDrops|0
ENV|DATACOPY_MERGETRIGGERS|dir|DELTA_DATA/fileStore/mergeTriggers|0
ENV|DATACOPY_MERGETRIGGERS_COMPLETE|dir|DELTA_DATA/fileStore/mergeTriggers/complete|0
ENV|DAAS_MERGE_SLAVELIMIT|string|10|1
ENV|DAAS_MERGE_PORTSTART|sting|4800|1
ENV|DAAS_UDF_DIR|dir|DELTA_DATA/DaaSData/udfdir|0
ENV|UDF_LIBS_DIR|dir|DELTA_DATA/DaaSData/udfdir/libraries|0
ENV|DAAS_UDF_ARCHIVE|dir|DELTA_DATA/DaaSData/udfdir/archived|0
ENV|DAAS_RTUDF_DIR|dir|DELTA_DATA/DaaSData/udfdir/realtime|0
ENV|DAAS_STATICUDF_DIR|dir|DELTA_DATA/DaaSData/udfdir/static|0
ENV|DAAS_TRIGUDF_DIR|dir|DELTA_DATA/DaaSData/udfdir/trigger|0
ENV|DAASDATA_PERSISTDIR_GLOBAL_UDF|dir|DELTA_DATA/DaaSData/persist/GLOBAL/UDF/UDF/UDF|0
ENV|DAASDATA_HDBLOGDIR_GLOBAL_UDF|dir|DELTA_DATA/DaaSData/hdblog/GLOBAL/UDF/UDF/UDF|0
ENV|DAASDATA_SYMBACKUPDIR_GLOBAL_UDF|dir|DELTA_DATA/DaaSData/backup/GLOBAL/UDF/UDF/UDF|0
ENV|DELTACONTROL_DELTACOMPONENT_ADMIN|string|YES|1
